[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
atoot = "*"
vk-api = "*"
"mastodon.py" = "*"
requests = "*"
toml = "*"
dataset = "*"

[dev-packages]

[requires]
python_version = "3.10"
